MONGO_DB_USER=user_example  
MONGO_DB_PASSWORD=password

MONGO_EXPRESS_USER=user_example
MONGO_EXPRESS_PASSWORD=password

MONGO_DB_URI=mongodb://user:password@host:port/
MONGO_DB_DATABASE=database
MONGO_COLLECTION=collection

MINIO_USER=user_example
MINIO_PASSWORD=password

POSTGRES_PASSWORD=password

PG_ADMIN_EMAIL=email@example.com
PG_ADMIN_PASSWORD=password